langchain
langgraph
pydantic
python-dotenv
fastapi
uvicorn
langchain-openai
langchain-google-genai
langchain-groq
sse_starlette
markitdown[all]
python-multipart
python-docx
supabase
PyJWT
redis
rapidfuzz
tiktoken
cryptography
requests
openpyxl